@import url('../reset.css');

.container {
    max-width: 1296px;
    margin: 0 auto;
}

nav {
    padding-top: 40px;
    background-color: #000000;
}

.list {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list li {
    color: #D1D1D1;
    font-family: Bruno Ace SC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 306px;
}

header {
    background-color: #000000;
}

header .container {
    display: flex;
    align-items: center;
}

img[alt="photo"] {
    margin: 72px 0;
}

.intro {
    margin-left: 24px;
}

.intro h2 {
    color: #ffffff;
    font-family: Bruno Ace SC;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.intro h1 {
    color: #00FFA3;
    text-align: right;
    font-family: Bruno Ace SC;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.intro a {
    display: block;
    width: 191px;
    height: 48px;
    margin-left: auto;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 32px;
    padding: 12px 24px;
    color: #000;
    font-family: Bruno Ace SC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.intro a:hover {
    background-color: #00FFA3;
}

img[alt="arrow-black"] {
    margin-left: 4px;
}

.section-01 {
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true');
    background-size: cover;
}

.section-01 .container {
    display: flex;
    padding: 160px 0;
}

.introduction h2 {
    color: #ffffff;
    font-family: Bruno Ace SC;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 36px;
}

.introduction p {
    color: #FFFFFF;
    font-family: Bruno Ace SC;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 32px;
}

.right-image {
    display: flex;
}

.right-image img {
    margin-left: 24px;
}

.section-02 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 160px 0;
}

.block {
    min-width: 636px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small-block {
    width: 306px;
    height: 148px;
    padding: 16px;
    margin-bottom: 24px;
    border: 1px solid #E3E3E3;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);

}

.small-block:nth-of-type(3),
.small-block:nth-of-type(4) {
    margin-bottom: 0;
}

.small-block h3 {
    color: #15161D;
    font-family: Bruno Ace SC;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.small-block p {
    color: #15161D;
    font-family: Bruno Ace SC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.about {
    margin-left: 134px;
}

.about h2 {
    color: #000000;
    font-family: Bruno Ace SC;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 36px;
}

.about p {
    color: #15161D;
    font-family: Bruno Ace SC;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.section-03 {
    padding: 96px 0;
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

.section-03 .container {
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    align-items: center;
}

.contact h2 {
    display: inline-block;
    color: #FFFFFF;
    font-family: Bruno Ace SC;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

img[alt="arrow-right"] {
    margin-left: 16px;
}

.icon {
    display: flex;
    flex-wrap: wrap;
}

.icon-block {
    width: 162px;
    height: 162px;
    margin-left: 20px;
    border-radius: 40px;
}

.icon-block:hover {
    box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.90), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.discord {
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/discord.png?raw=true');
    background-size: contain;
    background-position: center;
}

.instagram {
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/instagram.png?raw=true');
    background-position: -4px -4px;
}

.messenger {
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/message.png?raw=true');
    background-position: -4px -4px;
}

.section-04 {
    padding: 160px 0;
}

.section-04 h2 {
    color: #000000;
    font-family: Bruno Ace SC;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 746px;
    margin-left: auto;
    margin-bottom: 16px;
}

.project {
    display: flex;
}

.right-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 24px;
}

.top-project {
    display: flex;
    margin-bottom: 28px;
}

.top-project-content {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-project-content p {
    color: #15161D;
    font-family: Bruno Ace SC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.top-project-content a {
    display: block;
    width: 191px;
    height: 48px;
    text-decoration: none;
    background-color: #000000;
    border-radius: 32px;
    padding: 12px 24px;
    color: #FFFFFF;
    font-family: Bruno Ace SC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.top-project-content a:hover {
    background-color: #00FFA3;
}

img[alt="arrow-white"] {
    margin-left: 4px;
}

footer {
    background-color: #000000;
    padding: 40px 0;
}

footer .container p {
    color: #FFFFFF;
    text-align: center;
    font-family: Bruno Ace SC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}